@import '../../assets/styles/app';

.columns {
  position: relative;
  padding-top: 366px; //100px;
  padding-bottom: 60px;

  @media (min-width: 991px) {
    padding-top: 135px;
    padding-bottom: 100px;
  }

  .inner {
    .columns_mobile {
      display: block;
      width: 225.33px;
      height: auto;
      margin-left: auto;
      margin-right: auto;

      @media (min-width: 991px) {
        display: none;
      }
    }

    .columns_desktop {
      display: none;
      position: absolute;
      z-index: 1;
      top: 55px;
      left: calc(50% + 104px);
      transform: translateX(-50%);
      width: 765px;
      height: auto;

      @media (min-width: 991px) {
        display: block;
      }
    }

    .rocket {
      display: block;
      position: absolute;
      z-index: 1;
      left: 50%;
      transform: translateX(-50%);
      width: auto;
      height: 425px;
      top: -60px;

      @media (min-width: 991px) {
        display: none;
      }
    }

    .videoWrapper {
      display: none;
      position: absolute;
      z-index: 1;
      top: -42px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
      width: 491px;
      height: 409px;

      @media (min-width: 991px) {
        display: block;
        width: 887px;
        height: 737px;
        top: -103px;
        left: calc(50% - 3px);
      }

      video {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    .cards {
      position: relative;
      z-index: 2;

      @media (min-width: 991px) {
        margin-top: 0;
        display: flex;
        flex-direction: column;
      }

      .card {
        position: relative;
        background: rgba(21, 24, 40, 0.8);
        backdrop-filter: blur(17px);
        border-radius: 15px;
        border: 1px solid rgba(255, 255, 255, 0.06);
        padding: 29px 20px 20px;
        box-sizing: border-box;

        @media (min-width: 991px) {
          padding: 25px 25px 25px 95px;
          width: 413px;
        }

        &:not(:first-child) {
          margin-top: 20px;
        }

        &:nth-child(2) {
          @media (min-width: 991px) {
            align-self: flex-end;
            margin-top: -114px;
          }
        }

        &:nth-child(3) {
          @media (min-width: 991px) {
            margin-top: 0;
            margin-left: 216px;
          }
        }

        .iconWrapper {
          @include centerRow;
          position: absolute;
          top: 20px;
          left: 20px;
          width: 40px;
          height: 40px;
          background: #1c1f31;
          border-radius: 10px;

          @media (min-width: 991px) {
            top: 25px;
            left: 25px;
            width: 50px;
            height: 50px;
          }

          svg {
            width: 20px;
            height: 20px;

            @media (min-width: 991px) {
              width: 26px;
              height: 26px;
            }
          }
        }

        .title {
          margin-left: 55px;
          font-weight: 600;
          font-size: 18px;
          line-height: 130%;
          letter-spacing: -0.02em;
          color: #ffffff;

          @media (min-width: 991px) {
            margin-left: 0;
            font-size: 24px;
          }
        }

        .text {
          font-weight: 400;
          font-size: 14px;
          line-height: 150%;
          letter-spacing: -0.01em;
          color: rgba(255, 255, 255, 0.6);
          margin-top: 23px;

          @media (min-width: 991px) {
            margin-top: 15px;
          }
        }
      }
    }
  }
}
