@import '../../../assets/styles/app';

.articlePage {
  padding-top: 75px;

  @media (min-width: 991px) {
    padding-top: 102px;
  }

  .card {
    position: relative;
    z-index: 2;
    background: #f7f9fc;
    border-radius: 40px;
    padding-top: 60px;
    padding-bottom: 60px;

    @media (min-width: 991px) {
      padding-bottom: 80px;
    }

    .top {
      .inner {
        @media (min-width: 991px) {
          width: 846px;
        }

        .header {
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          @media (min-width: 991px) {
            width: 846px;
          }

          .ticket {
            border-radius: 999px;
            padding: 7px 15px;
            font-weight: 400;
            font-size: 14px;
            line-height: 115%;
            letter-spacing: -0.02em;

            @media (min-width: 991px) {
              padding: 9px 25px;
              font-size: 16px;
            }
          }

          .title {
            margin-top: 20px;
            font-weight: 600;
            font-size: 24px;
            line-height: 130%;
            letter-spacing: -0.02em;
            color: #0e0b3d;

            @media (min-width: 991px) {
              margin-top: 15px;
              font-size: 36px;
              width: 630px;
            }
          }

          .date {
            margin-top: 20px;
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            letter-spacing: -0.01em;
            color: #9a99af;

            @media (min-width: 991px) {
              margin-top: 15px;
            }
          }
        }

        .content {
          margin-top: 30px;

          @media (min-width: 991px) {
            margin-top: 40px;
          }
        }
      }
    }

    .similar {
      padding-top: 60px;

      @media (min-width: 991px) {
        padding-top: 80px;
      }

      .inner {
        border-top: 1px solid #d0d6df;
        padding-top: 60px;

        @media (min-width: 991px) {
          padding-top: 80px;
        }

        .label {
          font-weight: 600;
          font-size: 24px;
          line-height: 130%;
          letter-spacing: -0.02em;
          color: #0e0b3d;

          @media (min-width: 991px) {
            font-size: 36px;
          }
        }

        .cards {
          margin-top: 40px;

          @media (min-width: 991px) {
            margin-top: 60px;
          }

          .cardsInner {
            @media (min-width: 991px) {
              display: flex;
              flex-wrap: wrap;
              margin-left: -10px;
              margin-right: -10px;
            }
          }
        }
      }
    }
  }
}
