@import "../../assets/styles/app";

.blog {
  @include container;
  padding-top: 115px;
  padding-bottom: 60px;

  @include desktop {
    padding-top: 182px;
    padding-bottom: 80px;
  }

  .inner {
    @include inner;

    .titleWrapper {
      @include h2_block;
      @include h2_block_white;
    }

    .subtitle {
      margin-top: 20px;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      text-align: center;
      letter-spacing: -0.01em;
      color: #A1A3A9;
    }

  }
}
