@import "../../../assets/styles/app";

.wrapperDesktop {
  @include onlyDesktop(inline-flex);
}

.wrapperMobile {
  @include onlyMobile(inline-flex);
}

.tooltipContent {
  background: rgba(29, 32, 44, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  padding: 10px 12px;
  border-radius: 10px;

  p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: -0.02em;
    color: #9D9EA2;

    @include desktop {
      font-size: 11px;
      line-height: 16px;
    }
  }
}


.titleAnimated {
  display: inline-flex;
  position: relative;
  //border: 1px solid red;
  overflow: hidden;
  width: 200px;
  height: 37px; //35
  top: 8px;

  @include desktop {
    width: 385px;
    height: 70px; //67
    top: 15px;
  }

  //&_tooltip {
    p:nth-child(1) {
      span {
        display: inline-block;
        //border-bottom: 5px dashed red;

        &::after {
          position: absolute;
          display: block;
          content: "";
          left: 75px;
          bottom: 0;
          right: 15px;
          height: 0;
          border-top: 2px dashed #00C7B4;

          @include desktop {
            left: 145px;
            right: 30px;
          }
        }
      }
    }
  //}

  p {
    user-select: none;
    white-space: nowrap;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: -0.02em;
    height: 37px;
    background: linear-gradient(36.3deg, #0781FE -12.63%, #00C7B4 67.08%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;

    @include desktop {
      font-size: 58px;
      line-height: 67px;
      height: 70px;
    }

    &:nth-child(2), &:nth-child(3) {
      transform: translateY(100%);
    }
  }
}
