@import '../../../assets/styles/app';

.wrapperDesktop {
  display: none;

  @media (min-width: 768px) {
    display: inline-flex;
  }
}

.wrapperMobile {
  display: inline-flex;

  @media (min-width: 768px) {
    display: none;
  }
}

.tooltipContent {
  background: rgba(29, 32, 44, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  padding: 10px 12px;
  border-radius: 10px;

  p {
    display: flex;
    justify-content: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;

    letter-spacing: -0.02em;
    color: #9d9ea2;

    font-size: 11px;
    line-height: 16px;

    @media (max-width: 800px) {
      font-size: 10px;
      line-height: 15px;
    }
  }
}

.titleAnimated {
  display: inline-flex;
  position: relative;
  //border: 1px solid red;
  overflow: hidden;

  width: 385px;
  height: 70px; //67
  top: 15px;

  @media (max-width: 800px) {
    width: 200px;
    height: 37px; //35
    top: 8px;
  }

  //&_tooltip {
  p:nth-child(1) {
    span {
      display: inline-block;
      //border-bottom: 5px dashed red;

      &::after {
        position: absolute;
        display: block;
        content: '';
        bottom: 0;
        height: 0;

        left: 145px;
        right: 30px;
        border-top: 2px dashed #00c7b4;

        @media (max-width: 800px) {
          left: 75px;
          right: 15px;
          border-top: 1px dashed #00c7b4;
        }
      }
    }
  }
  //}

  p {
    box-sizing: border-box;
    user-select: none;
    white-space: nowrap;
    font-weight: 600;
    letter-spacing: -0.02em;
    background: linear-gradient(36.3deg, #0781fe -12.63%, #00c7b4 67.08%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;

    font-size: 58px;
    line-height: 67px;
    height: 70px;

    @media (max-width: 800px) {
      font-size: 30px;
      line-height: 35px;
      height: 37px;
    }

    &:nth-child(2),
    &:nth-child(3) {
      transform: translateY(100%);
    }
  }
}
