@import "../../../assets/styles/app";

.termsPage {

  .titleBlock {
    @include container;
    padding-top: 115px;
    padding-bottom: 40px;

    @include desktop {
      padding-top: 181px;
      padding-bottom: 60px;
    }

    .inner {
      @include inner;

      @include desktop {
        width: 846px;
      }

      h2.title {
        font-weight: 600;
        font-size: 30px;
        line-height: 115%;
        letter-spacing: -0.02em;
        color: #FFFFFF;

        @include desktop {
          font-size: 52px;
        }
      }
    }
  }

  .card {
    @include container;
    background: #F7F9FC;
    border-radius: 40px;
    padding-top: 60px;
    padding-bottom: 80px;
    padding-left: 38px;

    @include desktop {
      padding-bottom: 80px;
      padding-left: 0;
      margin-bottom: 29px;
    }

    .inner {
      @include inner;

      @include desktop {
        width: 846px;
      }

      .block {
        &:not(:first-child) {
          margin-top: 40px;

          @include desktop {
            margin-top: 60px;
          }
        }

        h3.label {
          position: relative;

          p {
            font-weight: 600;
            font-size: 18px;
            line-height: 130%;
            letter-spacing: -0.02em;
            color: #0F0D31;

            &:first-child {
              position: absolute;
              top: 0;
              left: -16px;

              @include desktop {
                left: -22px;
              }
            }
          }

        }

        .text {

          p {
            margin-top: 16px;
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
            letter-spacing: -0.01em;
            color: #313235;

            &:not(:first-child) {
              margin-top: 21px;
            }
          }

        }
      }
    }
  }
}
