@import "../../assets/styles/app";

.chooseYourDestination {
  overflow: hidden;

  .top {
    height: 40px;
    background: #F7F9FC;
    position: relative;

    &::after {
      display: block;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: -3px;
      border-radius: 40px 40px 0 0;
      overflow: hidden;
      background: #11131F;;
    }

  }

  .content {
    @include container;
    padding-top: 20px;

    @include desktop {
      padding-top: 60px;
    }

    .inner {
      @include inner;

      .titleWrapper {
        @include h2_block;
        @include h2_block_white;
        width: 290px;
        margin-left: auto;
        margin-right: auto;

        @include desktop {
          width: auto;
        }

        .title {
          @include desktop {
            width: 500px;
            margin-left: auto;
            margin-right: auto;
          }
        }

      }

      .rest {
        display: flex;
        flex-direction: column;
        margin-top: 30px;

        @include desktop {
          margin-top: 50px;
          flex-direction: row;
        }

        .leftBlock {
          position: relative;
          z-index: 10;

          @include desktop {
            width: 847px;
          }

        }

        .rightBlock {

          .slider {
            margin-top: 60px;

            @include desktop {
              margin-top: 0;
              position: relative;
              z-index: 5;
              width: 393px;
              margin-left: 40px;
            }
          }

        }

      }


    }
  }

}
