@import '../../assets/styles/app';

.chooseYourDestination {
  overflow: hidden;

  .top {
    height: 40px;
    background: #f7f9fc;
    position: relative;

    &::after {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: -3px;
      border-radius: 40px 40px 0 0;
      overflow: hidden;
      background: #11131f;
    }
  }

  .content {
    padding-top: 20px;

    @media (min-width: 800px) {
      padding-top: 60px;
    }

    .inner {
      // @include inner;

      .titleWrapper {
        @include h2_block;
        @include h2_block_white;
        width: 290px;
        margin-left: auto;
        margin-right: auto;

        @media (min-width: 800px) {
          width: auto;
        }

        .pretext {
          font-weight: 500;
          font-size: 12px;
          line-height: 115%;
          text-align: center;
          letter-spacing: -0.02em;
          text-transform: uppercase;
          color: rgba(255, 255, 255, 0.4);

          @media (min-width: 800px) {
            font-size: 14px;
          }
        }

        .title {
          margin-top: 15px;
          font-size: 36px;
          font-weight: 600;
          line-height: 130%;
          text-align: center;
          letter-spacing: -0.02em;
          color: #0e0b3d;

          width: 100%;
          margin-left: auto;
          margin-right: auto;

          @media (min-width: 800px) {
            width: 500px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;
            font-size: 24px;
          }
        }
      }

      .rest {
        display: flex;
        flex-direction: column;
        margin-top: 30px;

        @media (min-width: 800px) {
          margin-top: 50px;
          flex-direction: row;
        }

        .leftBlock {
          position: relative;
          z-index: 10;

          @media (min-width: 800px) {
            width: 847px;
          }
        }

        .rightBlock {
          .slider {
            display: none;
            margin-top: 60px;

            @media (min-width: 800px) {
              display: block;
              margin-top: 0;
              position: relative;
              z-index: 5;
              width: 393px;
              margin-left: 40px;
            }
            @media (max-width: 999px) {
              width: 340px;
            }
          }
        }
      }
    }
  }
}
