@import "../../assets/styles/app";

.bePart {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding-top: 60px;
  padding-bottom: 80px;

  @include desktop {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .gradientLeft {
    @include onlyDesktop;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(-50%);
  }

  .gradientRight {
    @include onlyDesktop;
    position: absolute;
    right: 0;
    top: 43px;
    height: 340px;
  }

  .titleWrapper {
    @include h2_block;
    @include h2_block_white;
    position: relative;

    h2 {
      width: 224px;
      margin-left: auto;
      margin-right: auto;

      @include desktop {
        width: 552px;
      }

      span {
        background: linear-gradient(34.49deg, #0781FE -12.58%, #00C7B4 102.84%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  .link {
    text-decoration: none;
    display: block;
    margin-top: 20px;
    width: 203px;

    @include desktop {
      margin-top: 40px;
      width: 265px;
    }

    .btn {
      text-transform: none;

      p {

      }

    }
  }



}
