@import '../../assets/styles/app';

.reachForTheStars {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 140px 20px 80px;
  overflow: hidden;

  @media (min-width: 767px) {
    padding: 150px 0 100px;
  }

  .gradientRight {
    display: none;
    position: absolute;
    right: 0;
    top: 43px;
    height: 340px;

    @media (min-width: 767px) {
      display: block;
    }
  }

  .titleWrapper {
    position: relative;

    .pretext {
      font-weight: 500;
      font-size: 12px;
      line-height: 115%;
      text-align: center;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.4);

      @media (min-width: 767px) {
        font-size: 14px;
      }
    }

    h2.title {
      margin-top: 10px;
      font-weight: 600;
      font-size: 24px;
      line-height: 130%;
      text-align: center;
      letter-spacing: -0.02em;

      width: 240px;
      margin-left: auto;
      margin-right: auto;

      color: #fff;

      @media (min-width: 767px) {
        width: 624px;
        margin-top: 15px;
        font-size: 36px;
      }

      span {
        background: linear-gradient(34.49deg, #0781fe -12.58%, #00c7b4 102.84%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    .coin_green {
      position: absolute;
      top: -100px;
      left: -5px;
      width: 100px;
      height: auto;

      @media (min-width: 767px) {
        top: -150px;
        left: -155px;
        width: 130px;
      }
    }

    .coin_yellow {
      display: none;
      position: absolute;
      width: 140px;
      height: auto;
      right: -235px;
      top: -35px;

      @media (min-width: 767px) {
        display: block;
      }
    }

    .coin_blue {
      position: absolute;
      width: 50px;
      height: auto;
      top: 65px;
      right: 0;

      @media (min-width: 767px) {
        width: 60px;
        top: 160px;
        right: auto;
        left: 70px;
      }
    }
  }

  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

    @media (min-width: 767px) {
      margin-top: 40px;
      flex-direction: row;
      justify-content: center;
    }

    .btn {
      width: 130px;

      @media (min-width: 767px) {
        width: 151px;
      }
    }

    .tradeBtn {
      margin-top: 30px;

      @media (min-width: 767px) {
        margin-top: 0;
        margin-left: 35px;
      }
    }
  }
}
