@import '../../assets/styles/app';

.texts {
  padding-top: 60px;

  @media (min-width: 1023px) {
    padding-top: 100px;
  }

  .inner {
    .block {
      &:not(:first-child) {
        margin-top: 60px;

        @media (min-width: 1023px) {
          margin-top: 100px;
        }
      }

      @media (min-width: 1023px) {
        display: flex;
        justify-content: space-between;
      }

      h3.title {
        font-weight: 600;
        font-size: 24px;
        line-height: 130%;
        letter-spacing: -0.02em;
        color: #0e0b3d;

        @media (min-width: 1023px) {
          font-size: 36px;
        }

        span {
          @include gradient-text;
        }
      }

      .textsWrapper {
        margin-top: 20px;

        @media (min-width: 1023px) {
          margin-top: 0;
          width: 630px;
        }

        .description {
          font-weight: 500;
          font-size: 18px;
          line-height: 130%;
          letter-spacing: -0.02em;
          color: #0e0b3d;

          @media (min-width: 1023px) {
            font-size: 22px;
            width: 572px;
          }

          span {
            @include gradient-text;
          }
        }

        .text {
          margin-top: 20px;
          font-weight: 400;
          font-size: 14px;
          line-height: 150%;
          letter-spacing: -0.01em;
          color: #3e3c64;

          @media (min-width: 1023px) {
            margin-top: 30px;
          }
        }
      }
    }
  }
}
