@import '../../assets/styles/app';

.about {
  padding-top: 115px;
  padding-bottom: 60px;

  @media (min-width: 768px) {
    padding-top: 182px;
    padding-bottom: 100px;
  }

  .inner {
    .title {
      font-weight: 600;
      font-size: 30px;
      line-height: 115%;
      text-align: center;
      letter-spacing: -0.02em;
      color: #ffffff;

      @media (min-width: 768px) {
        font-size: 52px;
      }

      span {
        background: linear-gradient(34.49deg, #0781fe -12.58%, #00c7b4 102.84%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    .description {
      margin-top: 24px;
      font-style: italic;
      font-weight: 400;
      font-size: 16px;
      line-height: 130%;
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: -0.02em;
      color: #ffffff;
      margin: 24px auto 0;
      justify-content: center;

      @media (min-width: 768px) {
        margin-top: 30px;
        width: 490px;
        margin-left: auto;
        margin-right: auto;
        font-size: 26px;
      }
    }
  }
}
