@import "../../../assets/styles/app";

.card {
  display: block;
  text-decoration: none;
  background: #FFFFFF;
  box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.02), 0px 9px 19px rgba(0, 0, 0, 0.01);
  border-radius: 15px;
  box-sizing: border-box;
  transition: 0.3s;

  &:hover {
    box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.1), 0px 9px 19px rgba(0, 0, 0, 0.05);
  }

  &:not(:first-child) {
    margin-top: 20px;

    @include desktop {
      margin-top: 0;
    }
  }

  @include desktop {
    width: 620px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
  }

  .top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;

    @include desktop {
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      padding: 25px 30px 25px 25px;
    }

    .ticket {
      font-weight: 400;
      font-size: 14px;
      line-height: 115%;
      letter-spacing: -0.02em;
      padding: 7px 15px;
      border-radius: 999px;
    }

    .title {
      margin-top: 15px;
      font-weight: 600;
      font-size: 18px;
      line-height: 130%;
      letter-spacing: -0.02em;
      color: #0E0B3D;

      @include desktop {
        margin-top: 0;
        font-size: 22px;
      }
    }
  }

  .bottom {
    border-top: 1px solid #F2F2F2;
    padding: 20px;

    @include desktop {
      padding: 25px 35px 25px 25px;
    }

    .text {
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      letter-spacing: -0.01em;
      color: #3E3C64;
    }

    .items {
      margin-top: 20px;
      display: flex;
      flex-direction: column;

      @include desktop {
        flex-direction: row;
      }

      .item {
        display: flex;
        align-items: center;

        &:last-child {
          margin-top: 15px;

          @include desktop {
            margin-top: 0;
            margin-left: 15px;
          }
        }

        svg {
          flex-shrink: 0;
          width: 21px;
          height: 21px;
        }

        &_text {
          margin-left: 8px;
          font-weight: 400;
          font-size: 14px;
          line-height: 150%;
          letter-spacing: -0.01em;
          color: #0E0B3D;
        }
      }

    }
  }

}
