@import '../../../assets/styles/app';

.card {
  background: #ffffff;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.02), 0 9px 19px rgba(0, 0, 0, 0.01);
  border-radius: 15px;
  cursor: pointer;
  padding: 20px;

  @media (min-width: 920px) {
    padding: 25px;
  }

  &:not(:first-child) {
    margin-top: 20px;

    @media (min-width: 920px) {
      margin-top: 0;
    }
  }

  &:hover {
    .imgWrapperDesktop {
      img {
        transform: scale(1.1);
      }
    }
  }

  .imgWrapperMobile {
    display: block;
    height: 103px;
    width: 240px;
    overflow: hidden;
    border-radius: 999px;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 920px) {
      display: none;
    }
  }

  .imgWrapperDesktop {
    display: none;
    width: 100%;
    height: 156px;
    overflow: hidden;
    border-radius: 999px;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 920px) {
      display: block;
    }
  }

  img {
    display: block;
    object-fit: cover;
    transition: 0.3s;
    width: 100%;
    height: 100%;
  }

  .title {
    margin-top: 30px;
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: -0.02em;
    color: #0e0b3d;
    text-align: center;

    @media (min-width: 920px) {
      font-size: 24px;
    }
  }

  .text {
    margin-top: 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    letter-spacing: -0.01em;
    color: rgba(14, 11, 61, 0.8);
  }
}
