@import '../../assets/styles/app';

.table {
  padding-top: 60px;
  padding-bottom: 60px;

  @media (min-width: 991px) {
    padding-top: 140px;
    padding-bottom: 80px;
  }

  .inner {
    // @include inner;

    .tableMobile {
      display: block;

      @media (min-width: 991px) {
        display: none;
      }

      .tableWrapper {
        position: relative;
        background: #ffffff;
        border: 1px solid #e6eaee;
        filter: drop-shadow(0px 15px 35px rgba(0, 0, 0, 0.08));
        border-radius: 15px;
        overflow: hidden;

        .header {
          height: 53px;
          display: grid;
          grid-template-columns: repeat(2, 1fr);

          .propCell {
            @include centerRow;
            font-weight: 400;
            font-size: 15px;
            line-height: 22px;
            letter-spacing: -0.02em;
            color: #9a99af;
          }

          .valueCell {
            background: #f1f5fa;
          }
        }

        .row {
          height: 53px;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          border-top: 1px solid #e6eaee;

          .propCell {
            @include centerRow;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            letter-spacing: -0.02em;
            color: #0e0b3d;
          }

          .valueCell {
            background: #f1f5fa;
          }
        }

        .swiperWrapper {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          width: 50%;

          .slide {
            .cell {
              @include centerRow;
              height: 53px;
              font-weight: 400;
              font-size: 14px;
              line-height: 21px;
              text-align: center;
              letter-spacing: -0.02em;
              color: #0e0b3d;

              &:first-child {
                color: #9a99af;
              }
            }
          }
        }
      }

      .navigation {
        display: flex;
        justify-content: center;
        margin-top: 20px;

        .item {
          width: 40px;
          height: 4px;
          background: #cdd6e2;
          border-radius: 4px;

          &_selected {
            background: linear-gradient(
              85.01deg,
              #0072e7 6.26%,
              #00aa9a 92.45%
            );
          }

          &:not(:first-child) {
            margin-left: 12px;
          }
        }
      }
    }

    .tableDesktop {
      display: none;
      box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.02),
        0px 9px 19px rgba(0, 0, 0, 0.01);
      border-radius: 15px;
      overflow: hidden;

      @media (min-width: 991px) {
        display: block;
      }

      .header {
        background: #02264c;
        height: 54px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        .headerCell {
          @include centerRow;
          font-weight: 600;
          font-size: 15px;
          line-height: 22px;
          text-align: center;
          letter-spacing: -0.02em;
          color: #ffffff;
        }
      }

      .body {
        background: #fff;

        .row {
          height: 54px;
          display: grid;
          grid-template-columns: repeat(4, 1fr);

          &:not(:first-child) {
            border-top: 1px solid #f2f2f2;
          }

          .cell {
            @include centerRow;
            font-weight: 400;
            font-size: 15px;
            line-height: 22px;
            text-align: center;
            letter-spacing: -0.02em;
            color: #0e0b3d;
          }
        }
      }
    }

    .table_text {
      margin-top: 30px;
      font-style: italic;
      font-weight: 400;
      font-size: 11px;
      line-height: 16px;
      text-align: center;
      letter-spacing: -0.02em;
      color: #6c6b7d;

      @include desktop {
        margin-top: 20px;
        font-size: 13px;
        text-align: left;
      }
    }
  }
}
