@import "../../assets/styles/app";

.header {
  @include container;
  position: relative;
  z-index: 100;

  &::before {
    position: absolute;
    z-index: 2;
    content: "";
    display: block;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.09), rgba(255, 255, 255, 0));
  }

  .gradientLeft {
    @include onlyDesktop();
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
  }

  .gradientRight {
    @include onlyDesktop();
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
  }

  .inner {
    @include inner;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;

    @include desktop {
      height: 102px;
    }

    .logo {
      display: block;

      svg {
        width: 145px;
        height: 28px;

        @include desktop {
          width: 160px;
          height: 30.89px;
        }
      }
    }

    .links {
      @include absoluteCenter;
      @include centerRow;
      @include onlyDesktop(flex);


      .item {
        &:not(:first-child) {
          margin-left: 30px;
        }
      }

      .link {
        text-decoration: none;
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
        letter-spacing: -0.02em;
        color: #FFFFFF;
        white-space: nowrap;
        transition: 0.3s;

        &:not(:first-child) {
          margin-left: 30px;
        }

        &:hover {
          color: #02A4C7;
        }
      }
    }


    .tradeBtn {
      @include onlyDesktop;
      width: 130px;
    }

    .burgerBtn {
      @include button;
      @include centerRow;
      @include onlyMobile;
      width: 30px;
      height: 30px;

    }
  }
}

