@import "../../assets/styles/app";

.joinModal {
  .card {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    width: calc(100vw - 40px);
    background: #FFFFFF;
    backdrop-filter: blur(17px);
    border-radius: 15px;
    box-sizing: border-box;
    padding: 40px 20px;

    @include desktop {
      left: 50%;
      width: 514px;
      transform: translate(-50%, -50%);
      padding: 50px 60px 60px;
    }

    &:focus-visible {
      outline: none;
    }

    .closeBtn {
      @include button;
      position: absolute;
      top: 15px;
      right: 15px;
      width: 14px;
      height: 14px;

      @include desktop {
        width: 16px;
        height: 16px;
        top: 20px;
        right: 20px;
      }

      svg {
        width: 14px;
        height: 14px;

        @include desktop {
          width: 16px;
          height: 16px;
        }
      }
    }

    .title {
      font-weight: 600;
      font-size: 22px;
      line-height: 130%;
      text-align: center;
      letter-spacing: -0.02em;
      color: #0E0B3D;

      @include desktop {
        font-size: 32px;
      }
    }

    .description {
      margin-top: 12px;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      text-align: center;
      letter-spacing: -0.01em;
      color: #3E3C64;

      @include desktop {
        margin-top: 15px;
      }
    }

    .form {
      margin-top: 25px;

      @include desktop {
        margin-top: 30px;
      }

      .top {

        @include desktop {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-column-gap: 10px;
        }

        .field {
          &:not(:first-child) {
            margin-top: 15px;

            @include desktop {
              margin-top: 0;
            }
          }
        }
      }

      & > .field {
        margin-top: 15px;
      }

      .joinBtn {
        margin-top: 20px;
      }
    }


  }
}
