@import '../../assets/styles/app';

.howToBecome {
  padding-top: 60px;

  @media (min-width: 991px) {
    padding-top: 120px;
  }

  .inner {
    .titleWrapper {
      .pretext {
        font-weight: 500;
        font-size: 12px;
        line-height: 115%;
        text-align: center;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.4);

        @media (min-width: 991px) {
          font-size: 14px;
        }
      }

      h2.title {
        margin-top: 10px;
        font-weight: 600;
        font-size: 24px;
        line-height: 130%;
        text-align: center;
        letter-spacing: -0.02em;
        color: #fff;

        width: 225px;
        margin-left: auto;
        margin-right: auto;

        @media (min-width: 991px) {
          width: auto;
          margin-top: 15px;
          font-size: 36px;
        }
      }
    }

    .cards {
      margin-top: 120px;

      @media (min-width: 991px) {
        margin-top: 148px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 20px;
      }

      .card {
        position: relative;
        background: rgba(21, 24, 40, 0.8);
        backdrop-filter: blur(17px);
        border-radius: 15px;
        border: 1px solid rgba(255, 255, 255, 0.06);
        box-sizing: border-box;
        padding: 68px 0px 20px;

        @media (min-width: 991px) {
          padding: 115px 0px 20px;
        }

        &:not(:first-child) {
          margin-top: 109px;

          @media (min-width: 991px) {
            margin-top: 0;
          }
        }

        .img {
          position: absolute;
          z-index: 1;
          left: 50%;
          transform: translateX(-50%);
          top: -87px;
          width: 184px;
          height: 160px;

          @media (min-width: 991px) {
            top: -110px;
            width: 242px;
            height: 210px;
          }
        }

        &_number {
          position: absolute;
          left: 12px;
          top: 12px;
          font-weight: 500;
          font-size: 22px;
          line-height: 130%;
          letter-spacing: -0.02em;
          color: #64666c;

          @media (min-width: 991px) {
            left: 15px;
            top: 15px;
            font-size: 24px;
          }
        }

        &_title {
          position: relative;
          z-index: 2;
          font-weight: 600;
          font-size: 22px;
          line-height: 130%;
          text-align: center;
          letter-spacing: -0.02em;
          color: #ffffff;

          @media (min-width: 991px) {
            font-size: 24px;
          }
        }

        &_text {
          position: relative;
          z-index: 2;
          font-weight: 400;
          font-size: 14px;
          line-height: 150%;
          text-align: center;
          letter-spacing: -0.01em;
          color: #a1a3a9;
          margin-top: 10px;

          @media (min-width: 991px) {
            font-size: 16px;
          }
        }
      }
    }
  }
}
