@import "../../../assets/styles/app";

.tableCustomMobile {
  @include onlyMobile();
  margin-top: 55px;

  .table {
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.06);
    overflow: hidden;
    position: relative;

    .row {
      display: flex;
      height: 50px;
      border-top: 1px solid #1B1C2B;
      box-sizing: border-box;

      &_header {
        height: 72px;
      }

      .prop, .value {
        @include centerRow;
      }

      .prop {
        width: 145px;
        background: rgba(21, 24, 40, 0.8);
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
        letter-spacing: -0.02em;
        color: #FFFFFF;
      }

      .value {
        flex-grow: 1;
        background: #161929;
      }

    }

    .sliderWrapper {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: calc(100% - 145px);
      //background: rgba(255, 255, 255, 0.5);

      .row {
        @include centerColumn;
        height: 50px;

        p {
          font-weight: 400;
          font-size: 13px;
          line-height: 20px;
          text-align: center;
          letter-spacing: -0.02em;
          color: #FFFFFF;
        }

        &_header {
          height: 72px;

          p:nth-child(1) {
            background: linear-gradient(34.49deg, #0781FE -12.58%, #00C7B4 102.84%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            //background-clip: text;
            text-fill-color: transparent;
          }

          p:nth-child(2) {
            color: rgba(115, 116, 125, 1);
          }
        }
      }

    }
  }


  .navigation {
    margin-top: 20px;
    display: flex;
    justify-content: center;

    .item {
      height: 4px;
      width: 40px;
      background: #1C1F31;
      border-radius: 4px;
      transition: 0.3s;

      &_selected {
        background: linear-gradient(85.01deg, #0072E7 6.26%, #00AA9A 92.45%);
      }

      &:not(:first-child) {
        margin-left: 12px;
      }
    }
  }


}

.tableCustomDesktop {
  @include onlyDesktop();
  margin-top: 50px;
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.06);
  background: rgba(21, 24, 40, 0.8);
  backdrop-filter: blur(12px);

  .header {
    height: 75px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    div {
      &:nth-child(2), &:nth-child(3), &:nth-child(4) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      p {
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        text-align: center;
        letter-spacing: -0.02em;
      }

      p:nth-child(1) {
        background: linear-gradient(34.49deg, #0781FE -12.58%, #00C7B4 102.84%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        //background-clip: text;
        text-fill-color: transparent;
      }

      p:nth-child(2) {
        color: rgba(115, 116, 125, 1);
      }
    }



  }

  .row {
    height: 50px;
    border-top: 1px solid #1B1C2B;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    div {
      display: flex;
      align-items: center;

      &:nth-child(1) {
        padding-left: 30px;
      }

      &:nth-child(2), &:nth-child(3), &:nth-child(4) {
        justify-content: center;
      }

      font-weight: 400;
      font-size: 15px;
      line-height: 22px;
      letter-spacing: -0.02em;
      color: #FFFFFF;
    }



  }
}
