@import '../../assets/styles/app';

.scalingPlan {
  position: relative;
  padding-top: 125px;
  padding-bottom: 120px;

  @media (min-width: 1023px) {
    padding-top: 188px;
    padding-bottom: 80px;
  }

  .rocket {
    position: absolute;
    pointer-events: none;
    z-index: 3;
    width: 332px;
    height: auto;
    left: -107px;
    bottom: -100px;

    @media (min-width: 1023px) {
      z-index: 0;
      left: calc((100vw - 1280px) / 2 + 408px);
      bottom: 75px;
      width: 380px;
    }
  }

  .inner {
    position: relative;
    z-index: 1;
    @media (min-width: 1023px) {
      display: flex;
    }

    .top {
      h2.title {
        font-weight: 600;
        font-size: 30px;
        line-height: 115%;
        letter-spacing: -0.02em;
        color: #ffffff;

        @media (min-width: 1023px) {
          font-size: 58px;
        }
      }

      .description {
        margin-top: 20px;
        font-weight: 500;
        font-size: 18px;
        line-height: 130%;
        letter-spacing: -0.02em;
        color: #ffffff;

        span {
          color: #04a3db;
        }

        @media (min-width: 1023px) {
          font-size: 22px;
          width: 498px;
          margin-top: 30px;
        }
      }
    }

    .text {
      margin-top: 20px;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      letter-spacing: -0.01em;
      color: #a1a3a9;

      @media (min-width: 1023px) {
        margin-top: 97px;
        width: 414px;
        margin-right: 107px;
        margin-left: auto;
      }

      @media (max-width: 1200px) {
        margin-right: 0;
      }

      span {
        color: #fff;
      }
    }
  }
}
