@import '../../assets/styles/app';

.theSky {
  padding-top: 80px;

  @media (min-width: 991px) {
    padding-top: 150px;
  }

  .inner {
    // @include inner;

    .topBlock {
      @media (min-width: 991px) {
        display: flex;
      }

      h3.title {
        font-weight: 600;
        font-size: 24px;
        line-height: 130%;
        letter-spacing: -0.02em;
        color: #0e0b3d;

        @media (min-width: 991px) {
          font-size: 36px;
          width: 478px;
        }
      }

      .text {
        margin-top: 20px;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: -0.01em;
        color: #3e3c64;

        @media (min-width: 991px) {
          margin-top: 0;
          margin-left: 280px;
          width: 414px;
        }

        span {
          font-weight: 600;
        }
      }
    }

    .linesMobile {
      display: block;
      margin-top: 32px;

      @media (min-width: 991px) {
        display: none;
        margin-top: 60px;
      }

      .lineMobile {
        &:not(:first-child) {
          margin-top: 40px;
        }

        .label {
          font-weight: 500;
          font-size: 16px;
          line-height: 130%;
          letter-spacing: -0.02em;
        }

        .lineWrapper {
          position: relative;
          margin-top: 8px;
          border-radius: 12px;
          height: 50px;

          .inner {
            position: relative;
            border-radius: 15px 0px 0px 15px;
            box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.02),
              0px 9px 19px rgba(0, 0, 0, 0.01);
            height: 50px;
            border-right: 2px dashed #000;

            .percent {
              position: absolute;
              top: 50%;
              transform: translate(100%, -50%);
              right: -15px;
              font-weight: 500;
              font-size: 16px;
              line-height: 130%;
              letter-spacing: -0.02em;
            }
          }

          .tip {
            @include centerRow;
            position: absolute;
            top: 0;
            right: 0;
            transform: translateY(-100%);
            width: 130px;
            height: 23px;
            background: #008b7d;
            border-radius: 10px 10px 0px 0px;
            font-weight: 500;
            font-size: 10px;
            line-height: 115%;
            text-align: right;
            letter-spacing: -0.02em;
            text-transform: uppercase;
            color: #ffffff;
          }
        }

        .description {
          margin-top: 12px;
          font-weight: 500;
          font-size: 16px;
          line-height: 130%;
          letter-spacing: -0.02em;
          color: #3e3c64;
        }

        &:nth-child(1) {
          .label {
            color: #045ab1;
          }

          .lineWrapper {
            background: #e3edff;

            .inner {
              background: #d3e2fd;

              width: calc((100% - 80px) * 0.3);
              border-color: rgba(4, 90, 177, 0.5);

              .percent {
                color: #045ab1;
              }
            }
          }
        }

        &:nth-child(2) {
          .label {
            color: #f8540d;
          }

          .lineWrapper {
            background: #f2e7e4;

            .inner {
              background: #f6d2c8;
              width: calc((100% - 80px) * 0.6);
              border-color: rgba(248, 84, 13, 0.5);

              .percent {
                color: #f8540d;
              }
            }
          }
        }

        &:nth-child(3) {
          .label {
            color: #008b7d;
          }

          .lineWrapper {
            background: #d9eae8;
            border-radius: 12px 0px 12px 12px;

            .inner {
              background: #abdbd5;
              width: calc((100% - 80px) * 0.9);
              border-color: rgba(0, 139, 125, 0.5);

              .percent {
                color: #008b7d;
              }
            }
          }
        }
      }
    }

    .linesDesktop {
      display: none;
      margin-top: 60px;

      @media (min-width: 991px) {
        display: block;
      }

      .lineDesktop {
        position: relative;
        display: flex;
        height: 71px;
        box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.02),
          0px 9px 19px rgba(0, 0, 0, 0.01);
        border-radius: 15px;

        &:not(:first-child) {
          margin-top: 15px;
        }

        .label {
          display: flex;
          align-items: center;
          border-radius: 15px 0px 0px 15px;
          padding-left: 25px;
          box-sizing: border-box;
          height: 71px;
          border-right: 2px dashed #000;
          font-weight: 500;
          font-size: 21px;
          line-height: 130%;
          letter-spacing: -0.02em;
        }

        .right {
          flex-grow: 1;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .percent {
            margin-left: 20px;
            font-weight: 500;
            font-size: 21px;
            line-height: 130%;
            letter-spacing: -0.02em;
          }

          .description {
            font-weight: 500;
            font-size: 21px;
            line-height: 130%;
            letter-spacing: -0.02em;
            color: #3e3c64;
            width: 478px;
            margin-right: 44px;
          }
        }

        .tip {
          @include centerRow;
          position: absolute;
          right: 323px;
          bottom: 0;
          transform: translateY(100%);
          width: 200px;
          height: 36px;
          background: #008b7d;
          border-radius: 0px 0px 10px 10px;
          font-weight: 500;
          font-size: 14px;
          line-height: 115%;
          letter-spacing: -0.02em;
          text-transform: uppercase;
          color: #ffffff;
        }

        &:nth-child(1) {
          background: #e3edff;

          .label {
            background: #d3e2fd;
            color: #045ab1;
            width: 15%;
            border-color: rgba(4, 90, 177, 0.5);
          }

          .percent {
            color: #045ab1;
          }
        }

        &:nth-child(2) {
          background: #f2e7e4;

          .label {
            background: #f7d2c8;
            color: #f8540d;
            width: 30%;
            border-color: rgba(247, 83, 14, 0.5);
          }

          .percent {
            color: #f8540d;
          }
        }

        &:nth-child(3) {
          background: #d9eae8;

          .label {
            background: #abdbd5;
            color: #008b7d;
            width: 45%;
            border-color: rgba(0, 139, 126, 0.5);
          }

          .percent {
            color: #008c7f;
          }
        }
      }
    }
  }
}
