@import "../../assets/styles/app";

.launchInto {
  @include container;
  padding-top: 60px;

  @include desktop {
    padding-top: 100px;
  }

  .inner {
    @include inner;

    .titleWrapper {
      @include h2_block;
      @include h2_block_black;

      h2.title {
        width: 280px;
        margin-left: auto;
        margin-right: auto;

        @include desktop {
          width: 417px;
        }
      }
    }

    .cards {
      margin-top: 30px;

      @include desktop {
        margin-top: 50px;
      }

      .cardsMobile {
        @include onlyMobile;
      }

      .cardsDesktop {
        @include onlyDesktop;

        .top {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-column-gap: 20px;
        }

        .bottom {
          margin-top: 20px;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-column-gap: 20px;
        }

      }

    }
  }
}
