@import '../../assets/styles/app';

.launchInto {
  // @include container;
  padding-top: 60px;

  @media (min-width: 920px) {
    padding-top: 100px;
  }

  .inner {
    // @include inner;

    .titleWrapper {
      .pretext {
        font-weight: 500;
        font-size: 14px;
        line-height: 115%;
        text-align: center;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        color: rgba(14, 11, 61, 0.4);

        @media (max-width: 1000px) {
          font-size: 12px;
        }
      }

      .title {
        margin-top: 15px;
        font-size: 36px;
        font-weight: 600;
        line-height: 130%;
        text-align: center;
        letter-spacing: -0.02em;
        color: #0e0b3d;

        width: 100%;
        margin-left: auto;
        margin-right: auto;

        width: 280px;
        margin-left: auto;
        margin-right: auto;

        @media (max-width: 1000px) {
          width: 280px;
          margin-top: 10px;
          font-size: 24px;
        }
        @media (min-width: 920px) {
          width: 417px;
        }
      }
    }

    .cards {
      margin-top: 30px;

      @media (min-width: 920px) {
        margin-top: 50px;
      }

      .cardsMobile {
        display: block;

        @media (min-width: 920px) {
          display: none;
        }
      }

      .cardsDesktop {
        display: none;

        @media (min-width: 920px) {
          display: block;
        }

        .top {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-column-gap: 20px;
        }

        .bottom {
          margin-top: 20px;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-column-gap: 20px;
        }
      }
    }
  }
}
