@import '_mixins';

.app {
  background: #1E1E1E;
  //overflow: scroll;

  .wrapper {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }

  .main {
    position: relative;
    z-index: 2;
  }

  .slider {
    width: 300vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
  }

  .block {
    width: 100vw;
    height: 100vh;

    &_green {
      background: darkgreen;
    }

    &_red {
      background: red;
    }

    &_olive {
      background: olive;
    }

    &_purple {
      background: purple;
    }

    &_yellow {
      background: yellow;
    }


  }
}
