@import '../../assets/styles/app';

.howToBecome {


  @include container;
  background: #f7f9fc;
  border-radius: 40px 40px 0 0;
  padding-top: 60px;
  padding-bottom: 60px;

  @include desktop {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .inner {
    @include inner;

    .titleWrapper {
      @include h2_block;
      @include h2_block_black;


      h2 {
        width: 280px;
        margin-left: auto;
        margin-right: auto;

        @include desktop {
          width: auto;
        }
      }
    }

    .cards {
      margin-top: 30px;

      @include desktop {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 20px;
      }

      .card {
        display: flex;
        flex-direction: column;
        box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.02), 0px 9px 19px rgba(0, 0, 0, 0.01);
        border-radius: 15px;
        padding: 20px;

        @include desktop {
          padding: 35px;
          border-radius: 20px;
          box-shadow: none;
          width: 413px;
          box-sizing: border-box;
        }

        &:not(:first-child) {
          margin-top: 20px;

          @include desktop {
            margin-top: 0;
          }
        }

        .phase {
          align-self: flex-start;
          padding: 8px 20px;
          border: 2px solid #fff;
          box-sizing: border-box;
          border-radius: 999px;
          font-weight: 500;
          font-size: 14px;
          line-height: 115%;
          letter-spacing: -0.02em;
          text-transform: uppercase;

          @include desktop {
            padding: 9px 25px;
          }
        }

        .img {
          display: block;
          width: 210px;
          height: auto;
          margin: 12px auto 0;

          @include desktop {
            width: 366px;
          }
        }

        .title {
          margin-top: 12px;
          font-weight: 600;
          font-size: 22px;
          line-height: 130%;
          text-align: left;
          letter-spacing: -0.02em;
          color: #0e0b3d;

          @include desktop {
            font-size: 32px;
          }
        }

        .text {
          margin-top: 10px;
          font-weight: 400;
          font-size: 14px;
          line-height: 150%;
          letter-spacing: -0.01em;
          color: #3e3c64;

          @include desktop {
            margin-top: 15px;
          }
        }
      }
    }
  }

}
