@import '../../assets/styles/app';

.howToBecome {
  @include container;
  background: #f7f9fc;
  border-radius: 40px 40px 0 0;
  padding-top: 60px;
  padding-bottom: 60px;

  @include desktop {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .inner {
    @include inner;

    .titleWrapper {
      @include h2_block;
      @include h2_block_black;

      h2 {
        width: 280px;
        margin-left: auto;
        margin-right: auto;

        @include desktop {
          width: auto;
        }
      }
    }

    .cards {
      margin-top: 30px;

      @include desktop {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 20px;
      }

      .card {
        display: flex;
        flex-direction: column;
        box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.02), 0px 9px 19px rgba(0, 0, 0, 0.01);
        border-radius: 15px;
        padding: 296px 20px 20px;
        position: relative;

        @include desktop {
          padding: 424px 25px 25px;
          border-radius: 20px;
          box-shadow: none;
          width: 413px;
          box-sizing: border-box;
        }

        &:not(:first-child) {
          margin-top: 20px;

          @include desktop {
            margin-top: 0;
          }
        }

        &:nth-child(1) {
          .videoWrapper {
            width: 250px;
            height: 250px;
            top: 36px;
            left: 50%;
            transform: translateX(-50%);

            @include desktop {
              width: 350px;
              height: 350px;
              top: 51px;
              left: 32px;
              transform: none;
            }
          }

          .imgMobile {
            width: 255px;
            height: 255px;
            top: 41px;
          }
        }

        &:nth-child(2) {
          .videoWrapper {
            width: 250px;
            height: 250px;
            top: 36px;
            left: 50%;
            transform: translateX(-50%);

            @include desktop {
              width: 350px;
              height: 350px;
              top: 61px;
              left: 22px;
              transform: none;
            }
          }

          .imgMobile {
            width: 250px;
            height: 250px;
            top: 52px;
          }
        }

        &:nth-child(3) {
          .videoWrapper {
            width: 280px;
            height: 280px;
            top: 5px;
            left: 50%;
            transform: translateX(-50%);

            @include desktop {
              width: 393px;
              height: 393px;
              top: 10px;
              left: 10px;
              transform: none;
            }
          }

          .imgMobile {
            width: 260px;
            height: 250px;
            top: 33px;
          }
        }

        .phase {
          position: absolute;
          z-index: 2;
          top: 20px;
          left: 20px;
          align-self: flex-start;
          padding: 8px 20px;
          border: 2px solid #fff;
          box-sizing: border-box;
          border-radius: 999px;
          font-weight: 500;
          font-size: 14px;
          line-height: 115%;
          letter-spacing: -0.02em;
          text-transform: uppercase;

          @include desktop {
            padding: 9px 25px;
            top: 25px;
            left: 25px;
          }
        }

        .videoWrapper {
          @include onlyDesktop;
          position: absolute;
          z-index: 2;

          video {
            object-fit: fill;
            width: 100%;
            height: 100%;
          }
        }

        .imgMobile {
          @include onlyMobile;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
        }

        .title {
          margin-top: 12px;
          font-weight: 600;
          font-size: 22px;
          line-height: 130%;
          text-align: left;
          letter-spacing: -0.02em;
          color: #0e0b3d;

          @include desktop {
            font-size: 32px;
          }
        }

        .text {
          margin-top: 10px;
          font-weight: 400;
          font-size: 14px;
          line-height: 150%;
          letter-spacing: -0.01em;
          color: #3e3c64;

          @include desktop {
            margin-top: 15px;
          }
        }
      }
    }
  }

}
