@import "../../assets/styles/app";

.experience {
  @include container;
  padding-top: 80px;

  @include desktop {
    padding-top: 134px;
  }

  .inner {
    @include inner;

    .titleWrapper {
      @include h2_block;
      @include h2_block_black;

      h2 {
        @include desktop {
          width: 521px;
          margin-left: auto;
          margin-right: auto;
        }
      }

    }

    .description {
      margin-top: 30px;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      text-align: center;
      letter-spacing: -0.01em;
      color: rgba(14, 11, 61, 0.8);

      @include desktop {
        margin-top: 20px;
        width: 712px;
        margin-left: auto;
        margin-right: auto;
      }
    }

    .items {
      margin-top: 30px;
      display: flex;
      flex-direction: column;

      @include desktop {
        flex-direction: row;
        justify-content: center;
      }

      .item {
        @include centerRow;
        text-decoration: none;
        height: 80px;
        background: #FFFFFF;
        box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.03), 0px 9px 19px rgba(0, 0, 0, 0.02);
        border-radius: 20px;
        transition: 0.3s;

        //&:hover {
        //  box-shadow: 0px 15px 45px rgba(0, 0, 0, 0.1);
        //}

        @include desktop {
          width: 240px;
        }

        &:nth-child(2) {
          margin-top: 20px;

          @include desktop {
            margin-top: 0;
            margin-left: 20px;
          }
        }

        img {
          display: block;
          width: 170px;
          height: auto;
        }
      }
    }
  }
}
