@import '../../assets/styles/app';

.affiliate {
  padding-top: 115px;
  padding-bottom: 60px;

  @media (min-width: 767px) {
    padding-top: 184px;
    padding-bottom: 80px;
  }

  .inner {
    h2.title {
      font-weight: 600;
      font-size: 30px;
      line-height: 115%;
      letter-spacing: -0.02em;
      color: #ffffff;
      width: 280px;

      @media (min-width: 767px) {
        width: auto;
        font-size: 58px;
        text-align: center;
      }

      span {
        background: linear-gradient(34.49deg, #0781fe -12.58%, #00c7b4 102.84%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    .text {
      margin-top: 20px;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      letter-spacing: -0.01em;
      color: #a1a3a9;

      @media (min-width: 767px) {
        margin-top: 24px;
        width: 713px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
      }

      span {
        color: #fff;
      }
    }

    .signBtn {
      margin-top: 20px;
      width: 151px;

      @media (min-width: 767px) {
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
