@import '../../assets/styles/app';

.getInTouch {
  position: relative;
  z-index: 2;
  padding-top: 132px;

  @media (min-width: 991px) {
    padding-top: 212px;
  }

  .inner {
    max-width: 1104px;

    @media (min-width: 991px) {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }

    .top {
      display: flex;
      flex-direction: column;

      .titleWrapper {
        @include h2_block_white;

        display: flex;
        flex-direction: column;
        align-items: center;

        .pretext {
          font-weight: 500;
          font-size: 12px;
          line-height: 115%;
          text-align: center;
          letter-spacing: -0.02em;
          text-transform: uppercase;

          @media (min-width: 991px) {
            font-size: 14px;
          }
        }

        h2.title {
          margin-top: 10px;
          font-weight: 600;
          font-size: 24px;
          line-height: 130%;
          text-align: center;
          letter-spacing: -0.02em;

          @media (min-width: 991px) {
            margin-top: 15px;
            font-size: 36px;
          }
        }

        @media (min-width: 991px) {
          align-items: flex-start;
        }

        h2 span {
          @include gradient-text;
        }
      }

      .text {
        margin-top: 20px;
        font-weight: 500;
        font-size: 16px;
        line-height: 130%;
        text-align: center;
        letter-spacing: -0.01em;
        color: #fff;

        @media (min-width: 991px) {
          font-size: 20px;
          width: 362px;
          text-align: left;
        }
      }

      .socialLinks {
        margin-top: 40px;
        display: flex;
        justify-content: center;

        @media (min-width: 991px) {
          order: 4;
          margin-top: 50px;
          justify-content: flex-start;
        }

        .link {
          @include centerRow;
          position: relative;
          z-index: 200;
          width: 42px;
          height: 42px;
          border-radius: 50%;
          background: rgba(2, 164, 199, 0);
          border: 1px solid #282a35;
          transition: 0.3s;

          &:hover {
            background: rgba(2, 164, 199, 0.24);
            border: 1px solid #02afc7;
          }

          &:not(:first-child) {
            margin-left: 10px;
          }

          svg {
            position: relative;
            z-index: 3;

            path {
              fill: #fff;
            }
          }
        }
      }

      .items {
        margin-top: 40px;

        @media (min-width: 991px) {
          margin-top: 60px;
        }

        .item {
          display: flex;

          &:not(:first-child) {
            margin-top: 25px;

            @media (min-width: 991px) {
              margin-top: 30px;
            }
          }

          .iconWrapper {
            flex-shrink: 0;
            @include centerRow;
            width: 45px;
            height: 45px;
            background: #1c1f31;
            border-radius: 8.18182px;

            svg {
              width: 24px;
              height: 24px;
            }

            @media (min-width: 991px) {
              width: 55px;
              height: 55px;

              svg {
                width: 29px;
                height: 29px;
              }
            }
          }

          .right {
            margin-left: 15px;

            .label {
              margin-top: -2px;
              font-weight: 500;
              font-size: 16px;
              line-height: 150%;
              letter-spacing: -0.01em;
              color: #ffffff;

              @media (min-width: 991px) {
                margin-top: 0;
                font-size: 18px;
              }
            }

            .text {
              text-align: left;
              margin-top: 5px;
              font-weight: 400;
              font-size: 14px;
              line-height: 150%;
              letter-spacing: -0.01em;
              color: #a1a3a9;

              @media (min-width: 991px) {
                margin-top: 7px;
                white-space: nowrap;
              }
              // @media (min-width: 768px) and (max-width: 991px) {
              //   margin-top: 7px;
              //   white-space: unset;
              // }
            }

            .link {
              @include gradient-text;
              display: block;
              position: relative;
              margin-top: 5px;
              font-weight: 400;
              font-size: 14px;
              line-height: 150%;
              letter-spacing: -0.01em;
              text-decoration: underline;

              @media (min-width: 991px) {
                margin-top: 7px;
              }

              &:after {
                position: absolute;
                content: '';
                display: block;
                bottom: 0;
                left: 0;
                right: 0;
                height: 1px;
                background: linear-gradient(
                  34.49deg,
                  #0781fe -12.58%,
                  #00c7b4 102.84%
                );
              }
            }
          }
        }
      }
    }

    .card {
      margin-top: 60px;
      background: rgba(21, 24, 40, 0.8);
      border-radius: 12px;
      box-sizing: border-box;
      padding: 30px 20px;

      @media (min-width: 991px) {
        margin-top: 0;
        width: 490px;
        padding: 50px 40px;
      }

      .formTitle {
        font-weight: 600;
        font-size: 22px;
        line-height: 130%;
        text-align: center;
        letter-spacing: -0.02em;
        color: #ffffff;

        @media (min-width: 991px) {
          font-size: 32px;
        }
      }

      .top {
        margin-top: 20px;

        @media (min-width: 991px) {
          margin-top: 24px;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-column-gap: 10px;
        }

        .field {
          margin-top: 15px;

          @media (min-width: 991px) {
            margin-top: 0;
          }
        }
      }

      .field {
        margin-top: 15px;
        position: relative;

        .optional {
          font-weight: 400;
          font-size: 14px;
          line-height: 150%;
          letter-spacing: -0.01em;
          color: #00c7b4;
          position: absolute;
          top: 50%;
          right: 15px;
          transform: translateY(-50%);
        }
      }

      .textarea {
        margin-top: 15px;

        //& > div {
        //  height: 130px;
        //
        //  @media (min-width: 991px) {
        //    height: 94px;
        //  }
        //
        //  & textarea {
        //    height: 40px!important;
        //  }
        //}
      }

      .btn {
        margin-top: 20px;
        color: #ff7676;

        @media (min-width: 991px) {
          margin-top: 24px;
        }
      }
    }
  }
}
