@import "../../assets/styles/app";

.whatSets {
  @include container;
  background: #F7F9FC;
  border-radius: 40px;
  padding-top: 60px;
  padding-bottom: 60px;

  @include desktop {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .inner {
    @include inner;

    .titleWrapper {
      @include h2_block;
      @include h2_block_black;

      h2 {
        width: 280px;
        margin-left: auto;
        margin-right: auto;

        @include desktop {
          width: 630px;
        }
      }
    }

    .cards {
      margin-top: 30px;

      @include desktop {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 20px;
      }

      .card {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        box-sizing: border-box;
        background: #FFF;
        box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.02), 0px 9px 19px rgba(0, 0, 0, 0.01);
        border-radius: 15px;
        padding: 20px;

        @include desktop {
          padding: 20px 36px 0 20px;
          height: 371px;
        }

        &:not(:first-child) {
          margin-top: 20px;

          @include desktop {
            margin-top: 0;
          }
        }

        .iconWrapper {
          @include centerRow;
          width: 45px;
          height: 45px;
          background: linear-gradient(34.49deg, rgba(7, 129, 254, 0.1) -12.58%, rgba(0, 199, 180, 0.1) 102.84%);
          border-radius: 10px;

          @include desktop {
            width: 55px;
            height: 55px;
          }

          svg {
            width: 23px;
            height: 23px;

            @include desktop {
              width: 29px;
              height: 29px;
            }
          }
        }

        &_title {
          margin-top: 15px;
          font-weight: 600;
          font-size: 20px;
          line-height: 130%;
          letter-spacing: -0.02em;
          color: #0E0B3D;
          //width: 240px;

          @include desktop {
            margin-top: 20px;
            font-size: 22px;
            width: 265px;
          }
        }

        &_text {
          margin-top: 20px;
          font-weight: 400;
          font-size: 14px;
          line-height: 150%;
          letter-spacing: -0.01em;
          color: #3E3C64;

          span {
            font-weight: 600;
          }
        }

        &:nth-child(1) {
          .card_text {
            @include desktop {
              margin-top: 59px;
            }
          }
        }

        &:nth-child(2) {
          .card_text {
            @include desktop {
              margin-top: 59px;
            }
          }
        }

        &:nth-child(3) {
          .card_text {
            @include desktop {
              margin-top: 30px;
            }
          }
        }

        &:nth-child(4) {
          .card_text {
            @include desktop {
              margin-top: 30px;
            }
          }
        }


      }
    }

  }


}
